<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Pathlopedia</display-name>

    <!-- /f/attachment/comment/add -->
    <servlet>
        <servlet-name>AttachmentCommentAddServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.AttachmentCommentAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttachmentCommentAddServlet</servlet-name>
        <url-pattern>/f/attachment/comment/add</url-pattern>
    </servlet-mapping>

    <!-- /f/attachment/del -->
    <servlet>
        <servlet-name>AttachmentDelServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.AttachmentDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttachmentDelServlet</servlet-name>
        <url-pattern>/f/attachment/del</url-pattern>
    </servlet-mapping>

    <!-- /f/attachment/get -->
    <servlet>
        <servlet-name>AttachmentGetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.AttachmentGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttachmentGetServlet</servlet-name>
        <url-pattern>/f/attachment/get</url-pattern>
    </servlet-mapping>

    <!-- /f/attachment/image/add -->
    <servlet>
        <servlet-name>AttachmentImageAddServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.AttachmentImageAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttachmentImageAddServlet</servlet-name>
        <url-pattern>/f/attachment/image/add</url-pattern>
    </servlet-mapping>

    <!-- /f/attachment/image/get -->
    <servlet>
        <servlet-name>AttachmentImageGetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.AttachmentImageGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttachmentImageGetServlet</servlet-name>
        <url-pattern>/f/attachment/image/get</url-pattern>
    </servlet-mapping>

    <!-- /f/attachment/score/set -->
    <servlet>
        <servlet-name>AttachmentScoreSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.AttachmentScoreSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttachmentScoreSetServlet</servlet-name>
        <url-pattern>/f/attachment/score/set</url-pattern>
    </servlet-mapping>

    <!-- /f/attachment/text/set -->
    <servlet>
        <servlet-name>AttachmentTextSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.AttachmentTextSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttachmentTextSetServlet</servlet-name>
        <url-pattern>/f/attachment/text/set</url-pattern>
    </servlet-mapping>

    <!-- /f/comment/del -->
    <servlet>
        <servlet-name>CommentDelServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.CommentDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentDelServlet</servlet-name>
        <url-pattern>/f/comment/del</url-pattern>
    </servlet-mapping>

    <!-- /f/comment/score/set -->
    <servlet>
        <servlet-name>CommentScoreSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.CommentScoreSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentScoreSetServlet</servlet-name>
        <url-pattern>/f/comment/score/set</url-pattern>
    </servlet-mapping>

    <!-- /f/comment/score/set -->
    <servlet>
        <servlet-name>CommentTextSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.CommentTextSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentTextSetServlet</servlet-name>
        <url-pattern>/f/comment/text/set</url-pattern>
    </servlet-mapping>

    <!-- /f/path/add -->
    <servlet>
        <servlet-name>PathAddServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PathAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathAddServlet</servlet-name>
        <url-pattern>/f/path/add</url-pattern>
    </servlet-mapping>

    <!-- /f/path/comment/add -->
    <servlet>
        <servlet-name>PathCommentAddServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PathCommentAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathCommentAddServlet</servlet-name>
        <url-pattern>/f/path/comment/add</url-pattern>
    </servlet-mapping>

    <!-- /f/path/corner/set -->
    <servlet>
        <servlet-name>PathCornerSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PathCornerSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathCornerSetServlet</servlet-name>
        <url-pattern>/f/path/corner/set</url-pattern>
    </servlet-mapping>

    <!-- /f/path/del -->
    <servlet>
        <servlet-name>PathDelServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PathDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathDelServlet</servlet-name>
        <url-pattern>/f/path/del</url-pattern>
    </servlet-mapping>

    <!-- /f/path/get -->
    <servlet>
        <servlet-name>PathGetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PathGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathGetServlet</servlet-name>
        <url-pattern>/f/path/get</url-pattern>
    </servlet-mapping>

    <!-- /f/path/list/get -->
    <servlet>
        <servlet-name>PathListGetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PathListGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathListGetServlet</servlet-name>
        <url-pattern>/f/path/list/get</url-pattern>
    </servlet-mapping>

    <!-- /f/path/point/add -->
    <servlet>
        <servlet-name>PathPointAddServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PathPointAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathPointAddServlet</servlet-name>
        <url-pattern>/f/path/point/add</url-pattern>
    </servlet-mapping>

    <!-- /f/path/score/set -->
    <servlet>
        <servlet-name>PathScoreSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PathScoreSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathScoreSetServlet</servlet-name>
        <url-pattern>/f/path/score/set</url-pattern>
    </servlet-mapping>

    <!-- /f/path/share-type/set -->
    <servlet>
        <servlet-name>PathShareTypeSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PathShareTypeSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathShareTypeSetServlet</servlet-name>
        <url-pattern>/f/path/share-type/set</url-pattern>
    </servlet-mapping>

    <!-- /f/path/text/set -->
    <servlet>
        <servlet-name>PathTextSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PathTextSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathTextSetServlet</servlet-name>
        <url-pattern>/f/path/text/set</url-pattern>
    </servlet-mapping>

    <!-- /f/path/title/set -->
    <servlet>
        <servlet-name>PathTitleSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PathTitleSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathTitleSetServlet</servlet-name>
        <url-pattern>/f/path/title/set</url-pattern>
    </servlet-mapping>

    <!-- /f/point/add -->
    <servlet>
        <servlet-name>PointAddServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PointAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointAddServlet</servlet-name>
        <url-pattern>/f/point/add</url-pattern>
    </servlet-mapping>

    <!-- /f/point/comment/add -->
    <servlet>
        <servlet-name>PointCommentAddServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PointCommentAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointCommentAddServlet</servlet-name>
        <url-pattern>/f/point/comment/add</url-pattern>
    </servlet-mapping>

    <!-- /f/point/del -->
    <servlet>
        <servlet-name>PointDelServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PointDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointDelServlet</servlet-name>
        <url-pattern>/f/point/del</url-pattern>
    </servlet-mapping>

    <!-- /f/point/get -->
    <servlet>
        <servlet-name>PointGetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PointGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointGetServlet</servlet-name>
        <url-pattern>/f/point/get</url-pattern>
    </servlet-mapping>

    <!-- /f/point/list/get -->
    <servlet>
        <servlet-name>PointListGetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PointListGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointListGetServlet</servlet-name>
        <url-pattern>/f/point/list/get</url-pattern>
    </servlet-mapping>

    <!-- /f/point/location/set -->
    <servlet>
        <servlet-name>PointLocationSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PointLocationSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointLocationSetServlet</servlet-name>
        <url-pattern>/f/point/location/set</url-pattern>
    </servlet-mapping>

    <!-- /f/point/score/set -->
    <servlet>
        <servlet-name>PointScoreSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PointScoreSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointScoreSetServlet</servlet-name>
        <url-pattern>/f/point/score/set</url-pattern>
    </servlet-mapping>

    <!-- /f/point/share-type/set -->
    <servlet>
        <servlet-name>PointShareTypeSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PointShareTypeSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointShareTypeSetServlet</servlet-name>
        <url-pattern>/f/point/share-type/set</url-pattern>
    </servlet-mapping>

    <!-- /f/point/text/set -->
    <servlet>
        <servlet-name>PointTextSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PointTextSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointTextSetServlet</servlet-name>
        <url-pattern>/f/point/text/set</url-pattern>
    </servlet-mapping>

    <!-- /f/point/title/set -->
    <servlet>
        <servlet-name>PointTitleSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.PointTitleSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointTitleSetServlet</servlet-name>
        <url-pattern>/f/point/title/set</url-pattern>
    </servlet-mapping>

    <!-- /f/user/add -->
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.UserAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/f/user/add</url-pattern>
    </servlet-mapping>

    <!-- /f/user/login -->
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/f/user/login</url-pattern>
    </servlet-mapping>

    <!-- /f/user/logout -->
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/f/user/logout</url-pattern>
    </servlet-mapping>

    <!-- /f/user/name/set -->
    <servlet>
        <servlet-name>UserNameSetServlet</servlet-name>
        <servlet-class>com.pathlopedia.servlet.UserNameSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserNameSetServlet</servlet-name>
        <url-pattern>/f/user/name/set</url-pattern>
    </servlet-mapping>

    <!-- default -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/s/*.html</url-pattern>
        <url-pattern>/s/*.js</url-pattern>
        <url-pattern>/s/*.png</url-pattern>
    </servlet-mapping>
</web-app>
